<?xml version="1.0"?>
<config>
	<modules>
		<Itweb_Installments>
			<version>0.1.0.2</version>
		</Itweb_Installments>
	</modules>
	<frontend>
		<routers>
			<installments>
				<use>standard</use>
				<args>
					<module>Itweb_Installments</module>
					<frontName>installments</frontName>
				</args>
			</installments>
			<checkout>
				<args>
					<modules>
						<Itweb_Installments before="Mage_Checkout">Itweb_Installments_Checkout</Itweb_Installments>
					</modules>
				</args>
			</checkout>
		</routers>
		<layout>
			<updates>
				<installments>
					<file>installments.xml</file>
				</installments>
			</updates>
		</layout>
	</frontend>
	<global>
		<sales>
			<order>
				<statuses>
					<pending_installment translate="label">
						<label>Pending Installment Completion</label>
					</pending_installment>
                    <installments_paid translate="label">
                        <label>Paid</label>
                    </installments_paid>
				</statuses>
				<states>
					<pending_payment>
						<statuses>
							<pending_installment default="1"/>
						</statuses>
                        <visible_on_front>1</visible_on_front>
					</pending_payment>
                    <pending_installment>
                        <statuses>
                            <pending_installment default="1"/>
                            <processing/>
                            <cancelled/>
                            <installments_paid/>
                        </statuses>
                        <visible_on_front>1</visible_on_front>
                    </pending_installment>
                    <installments_paid>
                        <statuses>
                            <installments_paid default="1"/>
                            <processing/>
                            <cancelled/>
                        </statuses>
                        <visible_on_front>1</visible_on_front>
                    </installments_paid>
				</states>
			</order>
		</sales>
		<helpers>
			<installments>
				<class>Itweb_Installments_Helper</class>
			</installments>
		</helpers>
		<blocks>
			<installments>
				<class>Itweb_Installments_Block</class>
			</installments>
			<checkout>
				<rewrite>
					<onepage>Itweb_Installments_Block_Checkout_Onepage</onepage>
					<onepage_progress>Itweb_Installments_Block_Checkout_Onepage_Progress</onepage_progress>
				</rewrite>
			</checkout>
		</blocks>
		<models>
			<installments>
				<class>Itweb_Installments_Model</class>
				<resourceModel>installments_mysql4</resourceModel>
			</installments>
			<installments_mysql4>
				<class>Itweb_Installments_Model_Mysql4</class>
				<entities>
					<installments>
						<table>itweb_installments</table>
					</installments>
					<installmentspayments>
						<table>itweb_installments_payments</table>
					</installmentspayments>
					<installmentspaymentsinvoices>
						<table>itweb_installments_payments_invoices</table>
					</installmentspaymentsinvoices>
                    <installmentscalculation>
                        <table>itweb_installments_calculation</table>
                    </installmentscalculation>
				</entities>
			</installments_mysql4>
			<checkout>
				<rewrite>
					<type_onepage>Itweb_Installments_Model_Checkout_Type_Onepage</type_onepage>
				</rewrite>
			</checkout>
			<sales>
				<rewrite>
					<order>Itweb_Installments_Model_Sales_Order</order>
					<service_order>Itweb_Installments_Model_Sales_Service_Order</service_order>
					<order_payment>Itweb_Installments_Model_Sales_Order_Payment</order_payment>
					<order_invoice>Itweb_Installments_Model_Sales_Order_Invoice</order_invoice>
					<order_creditmemo>Itweb_Installments_Model_Sales_Order_Creditmemo</order_creditmemo>
					<order_invoice_item>Itweb_Installments_Model_Sales_Order_Invoice_Item</order_invoice_item>
					<order_creditmemo_item>Itweb_Installments_Model_Sales_Order_Creditmemo_Item</order_creditmemo_item>
				</rewrite>
			</sales>
		</models>
		<resources>
			<installments_setup>
				<setup>
					<module>Itweb_Installments</module>
					<class>Mage_Sales_Model_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</installments_setup>
			<installments_write>
				<connection>
					<use>core_write</use>
				</connection>
			</installments_write>
			<installments_read>
				<connection>
					<use>core_read</use>
				</connection>
			</installments_read>
		</resources>
		<fieldsets>
			<sales_convert_quote_address>
				<use_installments>
					<to_quote>*</to_quote>
				</use_installments>
			</sales_convert_quote_address>
			<sales_convert_quote>
				<use_installments>
					<to_order>*</to_order>
				</use_installments>
			</sales_convert_quote>
			<sales_convert_order>
				<use_installments>
					<to_quote>*</to_quote>
				</use_installments>
			</sales_convert_order>
		</fieldsets>
		<events>
			<sales_order_save_after>
				<observers>
					<installments_observer>
						<type>singleton</type>
						<class>Itweb_Installments_Model_Observer</class>
						<method>salesOrderSaveAfter</method>
					</installments_observer>
				</observers>
			</sales_order_save_after>
			<sales_order_invoice_register>
				<observers>
					<installments_observer>
						<type>singleton</type>
						<class>Itweb_Installments_Model_Observer</class>
						<method>salesOrderInvoiceRegister</method>
					</installments_observer>
				</observers>
			</sales_order_invoice_register>
			<sales_order_invoice_save_after>
				<observers>
					<installments_observer>
						<type>singleton</type>
						<class>Itweb_Installments_Model_Observer</class>
						<method>salesOrderInvoiceSaveAfter</method>
					</installments_observer>
				</observers>
			</sales_order_invoice_save_after>
			<sales_order_creditmemo_refund>
				<observers>
					<installments_observer>
						<type>singleton</type>
						<class>Itweb_Installments_Model_Observer</class>
						<method>salesOrderCreditMemoRefund</method>
					</installments_observer>
				</observers>
			</sales_order_creditmemo_refund>
		</events>
	</global>
	<admin>
		<routers>
			<installments>
				<use>admin</use>
				<args>
					<module>Itweb_Installments</module>
					<frontName>installments</frontName>
				</args>
			</installments>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<installments>
					<file>installments.xml</file>
				</installments>
			</updates>
		</layout>
	</adminhtml>
</config>